<!--[if lt IE 7]>
<html lang="en" ng-app="cppshub" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="cppshub" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="cppshub" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="cppshub" class="no-js"> <!--<![endif]-->
<title>CPPSHub - Home</title>
<meta name="description" content="CPPSHub - Bringing you the tools you need to create a CPPS!">
<link rel="stylesheet" href="css/app.css">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<body>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!/sources">Sources</a></li>
    <li class="breadcrumb-item"><a href="#!/mediaservers">Mediaservers</a></li>
    <li class="breadcrumb-item"><a href="#!/extras">Extras</a></li>
</ol>
<br><br>
<center>
    <img title="CPPSHub" src="img/logo.png"/>
</center>
<br><br>
<div class="container">
    <div id="content-view" ng-view></div>
    <hr>
    <br><br>
    <div align="right">
        <small><b>Designed by Cactii &#9729;</small>
        </b>
        <br><br>
    </div>
</div>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>